* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background: #efefef;
  font-family: "Gill Sans", sans-serif;
}

ul {
  list-style: none;
}

.title,
.recipe-list {
  text-align: center;
}

.title {
  font-size: 40px;
}

img {
  height: auto;
  width: 600px;
  display: block;
  margin: auto;
}

li a {
  text-decoration: none;
  color: inherit;
  font-size: 30px;
}

li a:hover {
  color: #5959d4;
}